{{#ui-sidebar class='vertical inverted menu visible thin'}}
  <div class="item">
    {{#link-to 'index'}}arm-tools{{/link-to}}
  </div>
  <div class="item">
    <div class="header">i-vectors</div>
    <div class="menu">
      {{#link-to 'ivectors.prepare-prm' class='item'}}
        Wav to PRMs
      {{/link-to}}
      {{#link-to 'ivectors.ubm-tv' class='item'}}
        UBM TotalVariability
      {{/link-to}}
      {{#link-to 'ivectors.extract-classes' class='item'}}
        Extract Classes
      {{/link-to}}
      {{#link-to 'ivectors.wav-to-ivectors' class='item'}}
        Wav test prepare
      {{/link-to}}
      {{#link-to 'ivectors.score' class='item'}}Score ivectors{{/link-to}}
    </div>
  </div>
  <div class="item">
    <div class="header">Automatic</div>
    <div class="menu">
      {{#link-to 'ivectors.learn-common-UBM' class='item'}}
        Common UBM
      {{/link-to}}
    </div>
  </div>
{{/ui-sidebar}}

{{yield}}
