/ivectors/data.lst
/ivectors/all.lst
/ivectors/Plda.ndx
/ivectors/matWCCN.matx
/ivectors/prm/
/ivectors/lbl/
/ivectors/gmm/
/ivectors/mat/
/ivectors/iv/
/ivectors/lst/
/ivectors/scores_sphNorm/
/ivectors/scores_wccn/
/ivectors/scores_mahalanobis/
/ivectors/scores_PldaNorm/
/ivectors/save_scores/
/ivectors/scorings/
/ivectors/dependent/
/ivectors/0_1_Prepare_PRM/input/
/ivectors/TrainModel.ndx
/ivectors/0_1_Prepare_PRM/input.tar.7z
/ivectors/0_2_UBM_TotalVariability/totalvariability.ndx
/ivectors/0_3_Extract_Classes/ivExtractor.ndx
/ivectors/1_1_Wav_to_ivectors/input.lst
/ivectors/1_1_Wav_to_ivectors/iv/
/ivectors/1_1_Wav_to_ivectors/lbl/
/ivectors/1_1_Wav_to_ivectors/input/
/ivectors/1_1_Wav_to_ivectors/prm/
/ivectors/1_1_Wav_to_ivectors/ivExtractor.ndx
/ivectors/2_1_PLDA_Norm/scores_Plda_Norm.txt
/ivectors/2_1_PLDA_Norm/ivTest.ndx
/ivectors/2_2_WCCN/scores_WCCN_Cosine.txt
/ivectors/2_2_WCCN/ivTest.ndx
/ivectors/2_4_SphNorm_PLDA/ivTest.ndx
/ivectors/2_4_SphNorm_PLDA/scores_SphNorm_Plda.txt
/ivectors/2_3_Mahalanobis/scores_EFR_Mahalanobis.txt
/ivectors/2_3_Mahalanobis/ivTest.ndx
/ivectors/3_LeaveOneOut/0_input/
/ivectors/3_LeaveOneOut/1_prmInput/
/ivectors/3_LeaveOneOut/ndx/
/ivectors/3_LeaveOneOut/gmm/
/ivectors/3_LeaveOneOut/iv/
/ivectors/3_LeaveOneOut/mat/
/ivectors/3_LeaveOneOut/common/
/ivectors/3_LeaveOneOut/threads/
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
/ivectors/3_LeaveOneOut/2_secondPass/
/ivectors/3_LeaveOneOut/3_secondPassPRM/
/ivectors/scores_p2_PldaNorm/
/ivectors/scores_p2_sphNorm/
/ivectors/ivectors.tar
