<h1 class="ui dividing header">Scoring EFR Mahalanobis</h1>
<div class="ui grid container four column">
  <div class="ui text">
    <p>Score ivectors</p>
  </div>
  <div class="row">
    {{ivectors/score/score-efr}}
  </div>
</div>

{{outlet}}
