<h1 class="ui dividing header">Cleaner</h1>
<div class="ui grid container four column">
  <div class="ui text">
    <p>Clean the ivectors content</p>
  </div>
  <div class="row">
    {{cleaners/cleaner-dependent}}
  </div>
</div>

{{outlet}}
