<h1 class="ui dividing header">Extract Classes</h1>
<div class="ui grid container four column">
  <div class="ui text">
    <p>Extract Classes</p>
  </div>
  <div class="row">
    {{ivectors/classes-extractor}}
  </div>
</div>

{{outlet}}
