<div id="padding-container" class="main ui container">
  <h1 class="ui dividing header">Learn !</h1>
  <div class="ui grid container four column">
    <div class="ui text">
      <p>All learning class to create only one UBM</p>
    </div>
    <div class="row">
      {{ivectors/learn/common-ubm}}
    </div>
  </div>
</div>

{{outlet}}
