<div id="padding-container" class="main ui container">
  <h1 class="ui dividing header">Wav To PRMs</h1>
  <div class="ui grid container four column">
    <div class="ui text">
      <p>You have to put your wav input files in 0_1_Prepare_PRM/input, and put
        each
        class in a separate folder.
      </p>
    </div>
    <div class="row">
      {{ivectors/ubm-tv-training}}
    </div>
  </div>
</div>
{{outlet}}
