<h1 class="ui dividing header">UBM - TotalVariability</h1>
<div class="ui grid container four column">
  <div class="ui text">
    <p>Create the UBM and the TotalVariability matrix </p>
  </div>
  <div class="row">
    {{ivectors/ubm-tv-training}}
  </div>
</div>

{{outlet}}
