<div id="padding-container" class="main ui container">
  <h1 class="ui dividing header">Wav preparation</h1>
  <div class="ui grid container four column">
    <div class="ui text">
      <p>Create the ivectors from wav, to prepare testing</p>
    </div>
    <div class="row">
      {{ivectors/creating-ivectors}}
    </div>
    <div class="row">
      {{ivectors/creating-ivectors-dependent}}
    </div>
  </div>
</div>
{{outlet}}
