<div class="full-height">
  {{sidebar-menu}}
  <div style="margin-left: 250px;">
    <div class="main ui container">
      <div class="ui basic segment padding-top-50">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
