<h1 class="ui dividing header">Leave one out</h1>
<div class="ui grid container four column">
  <div class="ui text">
    <p>Run the leave one out method to score classes</p>
  </div>
  <div class="row">
    {{ivectors/learn/leave-one-out}}
  </div>
</div>
{{outlet}}
